
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    width: 1000px;
    height: 180px;
    border: 2px solid black;
    color: #005dab;
    padding-left: 1%;
}


.YesCheckbox {
    margin-left: 3%;
}

.NoSpacing {
    margin: 3%;
}

.dropdown {
    margin-left: 3%;

}

.SecondSpacing {
    margin: 3%;
}

.nameContainer {
    width: 1000px;
    display: flex;
    padding-top: 3%;
    padding-left: 2%;
    display: inline-block;
}

.questionContainer {
    width: 1000px;
    display: flex;
    padding-top: 3%;
    padding-left: 2%;
    display: inline-block;
}

.checkboxContainer {
    width: 1000px;
    display: flex;
    display: inline-block;
    justify-content: space-between;

}

.checkboxs {
    margin-bottom: 10px; /* Add vertical spacing between checkboxes and labels */

}

.numbersContainer {
    width: 1000px;
    display: flex;
    display: inline-block;
    justify-content: space-between;
}

.label {
    display: block; /* Display labels as block elements to position them underneath checkboxes */
}

.questionSpacing {
    margin-left: 3%;
}

.radioButtons {
    padding-top: 3%;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-bottom: 10px;
}

.radioButtons label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

.additionalComment {
    padding-top: 3%;
    width: 970px;
}

.Link{
	text-decoration: none;
	color: black;
}

.submitButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    background-color: #0F90C7;
	border : none;
	border-radius: 10px;
	padding: 0.5rem 3rem;
	font-size: 15px;
	
	/* Shadow */
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.3), 0 2px 4px -2px rgb(0 0 0 / 0.1);

	text-decoration: none;
}

