.courseBody{
    margin-top: 1rem;
}

.searchBarInput {
	/* Shadow */
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.3), 0 2px 4px -2px rgb(0 0 0 / 0.1);

	/* Borders */
	border-radius: 10px;
	border: solid 1px #edeff4;

	/* Outline */
	outline: 2px solid transparent;
	outline-offset: 2px;

	/* Fonts */
	font-size: 14px;

	/* Positioning */
	padding: 10px;

	width: 350px;

	/* Color */
	background-color: white;
}

.searchSection {
    /* Put everything in a row */
    display: flex;
    align-items: center;
	justify-content: center;
	gap: 20px;

	/* Padding */
	padding: 0.7rem 0px;

	/* Width */
	width: 100%;

	background-color: #fff4f4;
}

.searchSectionTitle{
	color: #666666;
	font-weight: 500;
}

.courseTitle{
	/* Flexbox */
	display: flex;
	justify-content: space-between;

	/* padding */
	padding: 1rem 3rem;

	margin-top: 1rem;

	/* Font Size */
	font-size: 27px;
}

.rateButton{
	background-color: #0F90C7;
	border : none;
	border-radius: 10px;
	padding: 0.5rem 3rem;
	font-size: 15px;
	
	/* Shadow */
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.3), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.courseDesc{
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.descLeft{
	width: 700px;
	margin-left: 5rem;
}

.coursePageTitle{
	color: #005DAB;
	font-size: 25px;
	border-bottom: 1px solid grey;
}

.descText{
	margin-top: 1rem;

	padding-right: 3rem;
	padding-left: 2rem;

	line-height: 1.5;
}

.descImg{
	margin-right: 10rem;
}

.reviewStats{
	
}

.reviewImages{
	display:flex;
	justify-content: center;
	column-gap: 8rem;
	margin-top: 2rem
}

.reviewStatsTitle{
	margin-left: 5rem;
	margin-right: 6rem;

}

.graphDist{
	display: flex;
	justify-content: center;
	margin-top: 4rem;
	column-gap: 5rem;
}