.container {
	background-color: white;

	/* padding-top: 1rem;
	padding-bottom: 1.5rem;
	padding-left: 1.5rem; */
	border-radius: 10px;

	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.4), 0 2px 4px -2px rgb(0 0 0 / 0.1);

	width: 22%;

	display: inline-block;

	margin-right: 5rem;
}

.titleContainer {
	background-color: white;

	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	padding-top: 0.5rem;
	padding-left: 1rem;
	padding-bottom: 0.5rem;

	border: 3px solid #ffd51d;
}

.statsContainer {
	padding-left: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-right: 1rem;

	display: flex;
}

.stats {
	flex: 1;
}
