.searchBar {
	display: flex;
	align-items: center;

	/* Shadow */
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
		0 4px 6px -4px rgb(0 0 0 / 0.1);

	/* Borders */
	border-radius: 20px;
	border: solid 1px #edeff4;

	/* Padding */
	padding: 5px 10px;

	/* Width */
	width: 30%;
}

.searchBarInput {
	width: 100%;

	/* Border */
	border: none;

	/* Outline */
	outline: 2px solid transparent;
	outline-offset: 2px;

	/* Fonts */
	font-size: 14px;

	/* Positioning */
	padding: 10px;

	/* Color */
	background-color: transparent;
}

.searchSection {
	display: flex;
	align-items: center;
	flex-direction: column;
}

/* .homepageTitle { */
/* Coloring */
/* color: #005dab; */

/* Bold */
/* font-weight: 400; */

/* Positioning */
/* text-align: center; */
/* } */
